@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.add_modal {
  border-radius: var(--16px, 16px);
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 51%;
  display: flex;
  width: 622px;
  padding: var(--24px, 24px);
  flex-direction: column;
  box-shadow: 24;
  border: none;
  gap: 20px;
}

@media (max-width: 1200px) {
  .add_modal {
    border-radius: var(--16px, 16px);
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 51%;
    display: flex;
    width: 80%;
    height: auto;
    padding: var(--24px, 24px);
    flex-direction: column;
    box-shadow: 24;
    border: none;
    gap: 10px;
  }
}
.add_modal_head_title {
  color: var(--Text-Black, #080f1a);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  font-family: Outfit, sans-serif;
}

.modal_close {
  color: #647491;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 8.25px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -8px;
  top: -8px;
  border-radius: 18px;
  border: 1px solid var(--Background-White, #fff);
  background: var(--Background-White, #fff);
  box-shadow: 0px 163px 46px 0px rgba(191, 191, 191, 0),
    0px 104px 42px 0px rgba(191, 191, 191, 0.01),
    0px 59px 35px 0px rgba(191, 191, 191, 0.05),
    0px 26px 26px 0px rgba(191, 191, 191, 0.09),
    0px 7px 14px 0px rgba(191, 191, 191, 0.1);
  cursor: pointer;
}

.add_modal_btn {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  align-items: center;
  gap: var(--8px, 8px);
  align-self: stretch;
  cursor: pointer;
}

.active_actions {
  display: flex;
  flex-direction: row !important;
  gap: 8px;
}

.active {
  color: var(--Text-Black, #080f1a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.buttons {
  display: flex;
  flex-direction: row !important;
  gap: 8px;
}

.buttons_cancel {
  display: flex;
  height: 40px;
  padding: var(--Spacing-0px, 0px) var(--16px, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--8px, 8px);
  border-radius: var(--4px, 4px);
  border: 1px solid #e23232;
  background-color: transparent;
  color: #e23232;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%;
  cursor: pointer;
  font-family: Outfit, sans-serif;
}

.buttons_save {
  display: flex;
  height: 40px;
  padding: var(--Spacing-0px, 0px) var(--16px, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--8px, 8px);
  border-radius: var(--4px, 4px);
  /* background: var(--Primary-Default, #1c4670); */
  color: var(--White, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
  font-family: Outfit, sans-serif;
  border: none;
}
.textarea_autosize {
  color: var(--Text-Black, #080f1a);
  border: 1px solid rgb(212, 219, 229);
  padding: 10px;
  border-radius: var(--4px, 4px);
  font-size: 14px;
  outline-color: transparent;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.form_layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Card Layout */

.content_layout {
  display: flex;
  flex-direction: row !important;
  gap: 30px;
}
.content_layout_head {
  color: var(--Text-Black, #080f1a);
  font-weight: 500;
  font-size: 18px;
  width: 30%;
}
.card_category {
  color: rgba(39, 10, 67, 0.871);
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 12px;
  font-family: Outfit, sans-serif;
  background-color: rgba(125, 14, 229, 0.248);
}
.card_category_office {
  color: rgba(9, 34, 69, 0.871);
  font-weight: 600;
  padding: 2px 10px;
  font-family: Outfit, sans-serif;
  border-radius: 12px;
  background-color: rgba(10, 102, 230, 0.349);
}
.card_category_meeting {
  color: rgba(9, 34, 69, 0.871);
  font-weight: 600;
  padding: 2px 10px;
  font-family: Outfit, sans-serif;
  border-radius: 12px;
  background-color: rgba(223, 34, 100, 0.349);
}

.card_Incomplete {
  padding: 0px 10px;
  border-radius: 15px;
  background: #f0bb65;
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #fff;
}
.card_completed {
  padding: 2px 10px;
  border-radius: 16px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  background: #77c74c;
  color: #fff;
}
.description {
  width: 60%;
  white-space: normal; /* Allows text to wrap */
  overflow-wrap: break-word; /* Break words when necessary */
  word-break: break-word; /* Ensure words break correctly in older browsers */
}
@media (max-width: 1200px) {
  .content_layout {
    display: flex;
    flex-direction: row !important;
    gap: 40px;
  }
  .form_layout {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content_layout_head {
    color: var(--Text-Black, #080f1a);
    font-weight: 500;
    font-size: 16px;
    width: 30%;
  }
  .description {
    width: 60%;
    padding: 10px;
    white-space: normal; /* Allows text to wrap */
    overflow-wrap: break-word; /* Break words when necessary */
    word-break: break-word; /* Ensure words break correctly in older browsers */
  }
  .buttons_cancel {
    height: 30px;
    padding: var(--Spacing-0px, 0px) var(--16px, 12px);
  }

  .buttons_save {
    height: 30px;
    padding: var(--Spacing-0px, 0px) var(--16px, 12px);
  }
}
