@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.footer_container {
  height: 100%;
  display: flex;
  flex-direction: column !important;
  width: 100%;
  background-color: #011b5b;
}

.footer_container_top {
  /* margin: 4% 4% 0 4%; */
  padding: 4% 4% 2% 4%;
  height: 70%;
  /* border-bottom: 1px solid #d8eaf5; */
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.footer_container_socialmedia {
  width: 30%;
  gap: 10%;
}

.footer_container_socialmedia_text {
  color: #aab5cd;
  width: 70%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer_container_socialmedia_icon {
  cursor: pointer;
  display: flex;
  flex-direction: row !important;
  margin-top: 2%;
  gap: 2%;
}

.footer_container_products_options {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  width: 70%;
}

.menu_options_head {
  color: #ffa229;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 10px;
}
.menu_options_head span {
  display: contents;
  color: #fff;
  font-family: Outfit, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu_option {
  cursor: pointer;
  color: #aab5cd;
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.spacing_between {
  /* gap: 4.5%; */
}
.spacing_between_options {
  flex-direction: column !;
  gap: 20px;
}

.spacing_between_options_column {
  flex-direction: row !important;
  gap: 90px;
}

.footer_container_companylogo img {
  width: 233px;
  flex-shrink: 0;
}

.socialmedia_icon img {
  width: 43.904px;
  height: 43.904px;
  flex-shrink: 0;
}

.footer_container_bottom {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 15%;
  padding: 15px;
  color: #fff;
  gap: 30px;
}

.arrow_icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  color: #fff;
  background: #ffa229;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer_container_copyright {
  font-size: 16px;
  color: #aab5cd;
}
.arrow_icon img {
  width: 32px;
  height: 32px;
}
@media (max-width: 1150px) {
  .arrow_icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background: #ffa229;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .arrow_icon img {
    width: 18px;
    height: 18px;
  }
  .footer_container_socialmedia_icon {
    margin-bottom: 10px;
  }
  .footer_container_companylogo img {
    width: 222px;
    height: 50px;
    flex-shrink: 0;
  }

  .footer_container_socialmedia_text {
    font-size: 16px;
  }
  .menu_options_head {
    color: #d8eaf5;

    font-size: 16px;
  }
  .menu_options_head span {
    font-size: 16px;
  }
  .menu_option {
    font-size: 17px;
  }
  .footer_container_copyright {
    font-size: 14px;
  }
  .sub_tex {
    font-size: 22.44px;
  }
}

@media (max-width: 1020px) {
  .footer_container {
    height: 100%;
    width: 100%;
  }
  .footer_container_companylogo img {
    width: 135.833px;
    height: 25px;
    flex-shrink: 0;
  }
  .footer_container_socialmedia {
    margin-top: 4%;

    border-bottom: 1px solid #d8eaf5;
    width: 100%;
    gap: 10px;
    height: 24%;
  }
  .footer_container_socialmedia_icon img {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  .footer_container_socialmedia_text {
    font-size: 10px;
    line-height: normal;
  }

  .footer_container_products_options {
    /* flex-wrap: wrap; */
    height: 54%;
    width: 100%;
    /* gap: 10%; */
  }

  .menu_options_head {
    color: #ffa229;
    font-size: 10px;
  }
  .menu_options_head span {
    font-size: 10px;
  }

  .menu_option {
    font-size: 10px;
  }

  .spacing_between_options {
    flex-direction: column !;
    gap: 7px;
  }

  .spacing_between_options_column {
    flex-direction: row !important;
    gap: 60px;
  }
  .footer_container_top {
    padding: 4% 4% 2% 4%;
    width: auto;
    height: 70%;
    /* border-bottom: 1px solid #d8eaf5; */
    display: flex;
    flex-direction: column !important;
    gap: 10px;
  }

  .footer_container_bottom {
    margin-top: 5%;
    width: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
  }
  .footer_container_copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .footer_container_bottom {
    align-items: center;
    height: 10%;
    margin: 4% 4%;
  }
  .sub_tex {
    font-size: 10px;
  }
}
