@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: Outfit, sans-serif;
}

.dashboard_section_head {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
.head_title {
  padding: 30px 30px;
  font-size: 42px;
  font-weight: 500;
  color: #272d37;
}

.task_perform {
  width: 30%;
  /* display: flex; */
  /* flex-direction: row !important; */
  gap: 20px;

  justify-content: space-around;
}
.active_user_layout {
  display: flex;
  padding: 0px 30px;
  flex-direction: row !important;
  gap: 15px;
  /* border-bottom: 1px solid #d4dbe5; */
}
.search_icon {
  position: absolute;
  top: 55%;
  left: 8px;
  transform: translateY(-50%);
  color: #647491;
  pointer-events: none;
}

.search_input {
  /* width: 100%; */
  padding: 12px 8px 12px 40px;
  border-radius: 20px;
  color: #000;
  outline: none;
  background-color: #ebedf0;
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  margin-right: 15px;
  border: none;
}

.search_input::placeholder {
  color: var(--Text-Light-Grey, #647491);
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  /* padding: 0 12px 0px 20px; */
}
.active_user_btn {
  display: flex;
  padding: 2px 20px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  gap: var(--8px, 8px);
  color: var(--Text-Light-Grey, #ffffff);
  text-align: center;
  /* Body/Medium */
  font-family: Outfit, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 150%;
  cursor: pointer;
}

.tasks_layout {
  padding: 2% 0 5% 0%;
}

/* Default Screen */

.deafult_screen {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.deafult_screen_img {
  width: 350px;
}
.deafult_screen_text {
  font-size: 24px;
}
.title_card {
  font-size: 28px;
  padding: 0 30px;
}
@media (max-width: 1200px) {
  .title_card {
    font-size: 20px;
    padding: 5px 20px 0 20px;
  }
  .task_perform {
    width: 50%;
    /* display: flex; */
    /* flex-direction: row !important; */
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .dashboard_section_head {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 10vh;
    z-index: 99;
    background-color: #fff;
  }
  /* .search_layout_mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    position: sticky;
    top: 25vh;
    z-index: 1000;
    background-color: #fff;
  } */
  /* .active_user_layout {
    padding: 10px 15px;
    gap: 15px;
    position: sticky;
    top: 33vh;
    z-index: 1000;
    background-color: #fff;
  } */
  .deafult_screen_img {
    width: 250px;
  }
  .deafult_screen_text {
    font-size: 18px;
  }

  .task_perform {
    width: 35%;
    /* display: flex; */
    /* flex-direction: row !important; */
    gap: 20px;
  }
  .head_title {
    padding: 20px 10px;
    font-size: 32px;
    font-weight: 450;
  }
  .head_btn {
    font-weight: 500;
    padding: 10px;
    font-size: 15px;
  }

  .active_user_btn {
    padding: 2px 10px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .active_user_layout {
    padding: 0px 15px;
    gap: 15px;
    justify-content: center;
  }
}

.search_layout_mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

@media (max-width: 380px) {
  .dashboard_section_head {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 14vh;
    z-index: 99;
    background-color: #fff;
  }
}
